@model AltaMontanha.Models.Dominio.Usuario

@{
    ViewBag.Title = "Usuário: Cadastrar";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>@ViewBag.Title</h2>
<div class="clear"></div>

@using (Html.BeginForm("CadastrarUsuario", "ManterUsuario", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Usuário</legend>
        <p>
            @Html.LabelFor(model => model.Login)
            @Html.TextBoxFor(model => model.Login, new { @class = "text-medium" })
            @Html.ValidationMessageFor(model => model.Login)
        </p>
        <p>
            @Html.LabelFor(model => model.Senha)
            @Html.PasswordFor(model => model.Senha, new { @class = "text-medium" })
            @Html.ValidationMessageFor(model => model.Senha)
        </p>
		<p>
            @Html.LabelFor(model => model.Nome)
            @Html.TextBoxFor(model => model.Nome, new { @class = "text-long" })
            @Html.ValidationMessageFor(model => model.Nome)
        </p>
		<p>
            @Html.LabelFor(model => model.Bio)
            @Html.TextAreaFor(model => model.Bio, new { @class = "text-long" })
        </p>
		<p>
			@Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "text-long" })
            @Html.ValidationMessageFor(model => model.Email)
        </p>
        <p>
            @Html.LabelFor(model => model.Perfil)
        	@Html.DropDownListFor(model => model.Perfil.Codigo, (SelectList)ViewData["Perfis"])
			@Html.ValidationMessageFor(model => model.Perfil.Codigo)
		</p>
        <p>
            @Html.LabelFor(model => model.Colunista)
        	@Html.CheckBoxFor(model => model.Colunista)
		</p>
		<p>
			@Html.LabelFor(model => model.Foto)
			<input type="file" name="file" value="Foto" />
		</p>
        <br />
		<p><input type="submit" value="Cadastrar" /></p>
    </fieldset>
}