@model AltaMontanha.Models.Dominio.Noticia

@{
    ViewBag.Title = "Cadastro de Notícia";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AM/Util.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>  
<script type="text/javascript">
	j(document).ready(function () {
		ConfigurarHoverCalendario();
		ConfigurarCalendario("#Data");
		CKEDITOR.replace("Texto");
	});
</script>

<h2>@ViewBag.Title</h2>
<div class="clear"></div>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Notícia</legend>

        <p>
            @Html.LabelFor(model => model.Titulo)
            @Html.TextBoxFor(model => model.Titulo, new { @class = "text-long" })
            @Html.ValidationMessageFor(model => model.Titulo)
        </p>

        <p>
            @Html.LabelFor(model => model.AnteTitulo)
            @Html.TextAreaFor(model => model.AnteTitulo)
            @Html.ValidationMessageFor(model => model.AnteTitulo)
        </p>

        <p>
            @Html.LabelFor(model => model.Resumo)
            @Html.TextAreaFor(model => model.Resumo)
            @Html.ValidationMessageFor(model => model.Resumo)
        </p>

        <p>
            @Html.LabelFor(model => model.Texto)
            @Html.TextAreaFor(model => model.Texto)
            @Html.ValidationMessageFor(model => model.Texto)
        </p>

        <p>
            @Html.LabelFor(model => model.Fonte)
            @Html.TextBoxFor(model => model.Fonte)
            @Html.ValidationMessageFor(model => model.Fonte)
        </p>

        <p>
            @Html.LabelFor(model => model.Destaque)
            @Html.CheckBoxFor(model => model.Destaque)
            @Html.ValidationMessageFor(model => model.Destaque)
        </p>

        <p>
            @Html.LabelFor(model => model.Data)
            @Html.TextBoxFor(model => model.Data, new { @class = "text-medium" })
            @Html.ValidationMessageFor(model => model.Data)
        </p>

 		<p>
			@HelperPalavraChave.SelecionarPalavraChave(Model)
        </p>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}