@model AltaMontanha.Models.Dominio.Categoria

@{
	ViewBag.Title = "Alterar Categoria";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>@ViewBag.Title</h2>
<div class="clear"></div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Categoria</legend>
		<p>
            @Html.LabelFor(model => model.Titulo)
            @Html.TextBoxFor(model => model.Titulo, new { @class="text-long"})
            @Html.ValidationMessageFor(model => model.Titulo)
        </p>
        <p>
            @Html.LabelFor(model => model.Descricao)
            @Html.TextAreaFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </p>
		<br />
        <p><input type="submit" value="Alterar" /></p>
    </fieldset>
}