@model IEnumerable<AltaMontanha.Models.Dominio.Aventura>

@{
	ViewBag.Title = "Pesquisa de Aventura";
}

<h2>@ViewBag.Title</h2>
<div class="clear"></div>
<div id="divGrid">
	<h3>Aventuras:</h3>
	<div class="grid">
		<table>
			<tr>
				<th>Título</th>
				<th>Data</th>
				<th></th>
				<th></th>
			</tr>

		@foreach (var item in Model) {
			<tr>
				<td>
					@item.Titulo
				</td>
				<td>
					@String.Format("{0:dd/MM/yyyy}", item.Data)
				</td>
				<td class="action">
					@Html.ActionLink("Alterar", "AlterarAventura", new { Codigo = item.Codigo }, new { @class = "edit" })
				</td>
				<td class="action">
					@Html.ActionLink("Excluir", "ExcluirAventura", new { Codigo = item.Codigo }, new { @class = "delete" })
				</td>
			</tr>
		}
		</table>
		<br />
	</div>
</div>