@{
    ViewBag.Title = "AltaMontanha.com";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<!-- container de artigos, Noticias e Colunas. -->
<div id="main-box">
	<!-- Noticias em destaque. -->
	@HelperNoticia.VisualizarNoticiasDestaque((IList<AltaMontanha.Models.Dominio.Noticia>)ViewData["ListaNoticiasDestaque"])
	<!-- Noticias em geral. -->
	@HelperNoticia.VisualizarNoticias((IList<AltaMontanha.Models.Dominio.Noticia>)ViewData["ListaNoticias"])
	<!-- container de publicidade referentes banner de 300*250 -->
	<div class="arroba col-300">
		@HelperBanner.VisualizarBanner((AltaMontanha.Models.Dominio.Banner) ViewData["BannerCima"])
	</div>
	<div class="spliter-940"></div>
	<!-- Ultimas colunas. -->
	@HelperColuna.VisualizarColunas((IList<AltaMontanha.Models.Dominio.Coluna>) ViewData["ListaColunas"])
	<!-- Artigos random. -->
	@HelperArtigo.VisualizarArtigos((IList<AltaMontanha.Models.Dominio.Artigo>) ViewData["ListaArtigos"])
	<!-- Serviços Especializados. -->
	<div id="servicos" class="col-220">
		<h2 class="box-title-small">Serviços Especializados</h2>
		@* TODO: Serviços especializados. *@
	</div>
	<!-- Fotos de Montanha. -->
	<div id="fotos-montanha" class="col-220">
		<h2 class="box-title-small">Fotos de Montanha</h2>
		@* TODO: Fotos de Montanha. *@
	</div>
</div>
<!-- container de artigos referentes a categoria de histórias do montanhismo. -->
@HelperArtigo.VisualizarArtigosHistoria((IList<AltaMontanha.Models.Dominio.Artigo>) ViewData["ListaArtigosHistoria"])
<!-- container de publicidade referentes banner de 200*200 -->
<div id="quadrado-home">
	@HelperBanner.VisualizarBanner((AltaMontanha.Models.Dominio.Banner) ViewData["BannerMeio"])
</div>
<!-- container de sua-aventura/gente-de-montanha -->
@HelperAventura.VisualizarAventuras((IList<AltaMontanha.Models.Dominio.Aventura>)ViewData["ListaAventuras"])
<!-- container de publicidade referentes banner de 728*90 -->
<div class="super-banner-home"> 
	@HelperBanner.VisualizarBanner((AltaMontanha.Models.Dominio.Banner) ViewData["BannerBaixo"])
</div>
<!-- container de sites relacionados ex.: Rumos, Roteiros, Aconcagua.-->
<div id="partners-box">
	@* TODO: Helper de sites relacionados. *@
</div>