@model IEnumerable<AltaMontanha.Models.Dominio.Usuario>

@{
	ViewBag.Title = "AltaMontanha.com - Colunistas";
	Layout = "~/Views/Shared/_LayoutNovo.cshtml";
}
<div id="main-box">
	<div id="conteudo">
		<h2>Colunistas</h2>
		<div>
			<ul id="listagem">
			@foreach (var colunista in Model)
			{
			<li>
				<a href="/colunas/@colunista.Codigo/@colunista.Slug">
					<img src="/AppData/Foto/Usuario/@colunista.Foto.Caminho" align="left" alt="@colunista.Nome" width="50" height="50" />
					<br />
					@colunista.Nome
                    <p class="data">@colunista.Bio.Substring(0, @colunista.Bio.Substring(0, 90).LastIndexOf(' ')) ...</p>
				</a>
			</li>
			}
			</ul>
		</div>
	</div>
@*	<div class="col-fotos">
		<div id="quadrado-home">
			@HelperBanner.VisualizarBanner((AltaMontanha.Models.Dominio.Banner) ViewData["BannerInterna"], Html)
		</div>
	</div>*@
</div>