@model AltaMontanha.Models.Dominio.Artigo

@{
    ViewBag.Title = @Model.Titulo + " - AltaMontanha.com";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<script type="text/javascript">
	j(function () 
	{
		j('.nyroModal').nyroModal();
	});
</script>
<div id="main-box">
	<div id="conteudo">
		<h2>@Model.Titulo</h2>
		<p class="data">@String.Format("{0:g}", Model.Data)</p>
		<p class="resumo">@Model.Resumo</p>
		<div class="texto">
			@Html.Raw(Model.Texto)
		</div>
	</div>
	<div class="fotos">
		<ul>
			@foreach (var foto in Model.ListaFotos)
			{
				<li>
					<a href="/AppData/Foto/640x480/@foto.Caminho" class="showModal">
						<img src="/AppData/Foto/145x95/@foto.Caminho" alt="@foto.Legenda" />
						<span>@foto.Legenda</span>
					</a>
				</li>
			}
		</ul>
	</div>
</div>
