@helper VisualizarBanner(AltaMontanha.Models.Dominio.Banner banner)
{
	<p class="publicidade">Publicidade</p>
	if (banner.Multimidia)
	{
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="@banner.Local.Largura" height="@banner.Local.Altura" id="@string.Concat("banner_", banner.Codigo)" align="middle">
			<param name="movie" value="/AppData/Banner/@banner.Caminho" />
			<param name="quality" value="high" />
			<!--param name="bgcolor" value="#ffffff" /-->
			<param name="play" value="true" />
			<param name="loop" value="true" />
			<param name="wmode" value="opaque" />
			<param name="scale" value="noscale" />
			<param name="menu" value="true" />
			<param name="devicefont" value="false" />
			<param name="salign" value="" />
			<param name="allowScriptAccess" value="sameDomain" />
			<!--[if !IE]>-->
			<object type="application/x-shockwave-flash" data="/AppData/Banner/@banner.Caminho" width="@banner.Local.Largura" height="@banner.Local.Altura">
				<param name="movie" value="/AppData/Banner/@banner.Caminho" />
				<param name="quality" value="high" />
				<!--param name="bgcolor" value="#ffffff" /-->
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="opaque" />
				<param name="scale" value="noscale" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
			<!--<![endif]-->
				<a href="http://www.adobe.com/go/getflash">
					<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
				</a>
			<!--[if !IE]>-->
			</object>
			<!--<![endif]-->
		</object>
	}
}