@helper SelecionarPalavraChave(AltaMontanha.Models.Dominio.Conteudo conteudo)
{
	<label for="Palavras">Palavras:</label>
	<input type="text" name="Palavras" id="Palavras" class="text-long" />
	<input type="button" value="Adicionar" id="CadastrarPalavraChave" />

	<ul id="listaPalavras">
		@*
		@foreach (var ListaPalavrasChave in Model.ListaPalavrasChave)
		{
			@Html.HiddenFor(model => ListaPalavrasChave.Codigo)
		}
		@foreach (var palavra in Model.ListaPalavrasChave)
		{
			@Html.Hidden("palavras", palavra)
		}
		*@

		@if (conteudo != null) 
		{
			foreach (var palavra in conteudo.ListaPalavrasChave)
			{
	   			<li id="@string.Concat("pcID_", palavra.Codigo)">
					@palavra.Nome (<a href="@string.Concat("#pcID_", palavra.Codigo)">X</a>)
				</li>
			}
		}
	</ul>

	<script type="text/javascript">
		j(document).ready(function () {
			// evento para remover palavra-chave da lista
			j('a[href^=#pcID]').click(function () {
				j(j(this).attr("href")).remove();
			});

			// requisição para cadastrar (e retornar) palavras-chave
			j('#CadastrarPalavraChave').click(function () {
				j.post(
					'/ManterPalavraChave/CadastrarPalavraChave',
					{ palavras: j('#Palavras').val() },
					function (data) {
						j(data).each(function () {
							// inclui palavra-chave na lista
							j("#listaPalavras").append(
								"<li id='pcID_" + this.Codigo + "'>" +
								this.Nome +
								" (<a href='#pcID_" + this.Codigo + "'>X</a>)</li>"
							);

							// evento para remover palavra-chave da lista
							j('a[href^=#pcID]').click(function () {
								j(j(this).attr("href")).remove();
							});
						});
					}
				);
			});
		});
	</script>
}