@helper VisualizarColunas(IList<AltaMontanha.Models.Dominio.Coluna> listaColunas)
    {
    <div id="colunistas" class="col-340 special-bg">
        <h2 class="box-title">
            <span class="title-bg"><a href="/colunas">Colunistas</a></span><span class="link-more"><a
                href="/colunas">+ colunistas</a></span></h2>
        @for (int i = 0; i < listaColunas.Count; i++)
        {
            AltaMontanha.Models.Dominio.Coluna coluna = listaColunas[i];
            if(i == 3)
            {
                <div class="clear"></div>   
            }
            <form action="colunas" method="post" name="@coluna.Autor.Nome" id="@coluna.Autor.Nome">
            <div class="colunista-box">
                <input type="hidden" name="CodigoColunista" value="@coluna.Autor.Codigo" />
                <a href="javascript:Colunas('@coluna.Autor.Nome')">
                    <p class="name-colunista">@coluna.Autor.Nome</p>
                </a><a href="/Colunas/@coluna.Codigo/@coluna.Slug"><span class="thumb-border-5">
                    <img src="/ManterFoto/Foto/Usuario/@coluna.Autor.Foto.Caminho" alt="@coluna.Autor.Nome" width = "90px" height="90px"/></span>
                    <p title="@coluna.Titulo">
                        @if (coluna.Titulo.Length > 25)
                        {
                            @string.Concat(coluna.Titulo.Substring(0, 25), "...");
                        }
                        else
                        {
                            @coluna.Titulo;
                        }
                    </p>
                </a>
            </div>
            </form>
        }
    </div>
    <script type="text/javascript">

        function Colunas(nome) {
            document.forms[nome].submit();
        }
        
    </script>
}