@helper VisualizarArtigos(IList<AltaMontanha.Models.Dominio.Artigo> listaArtigos)
{
	<div id="artigos" class="col-340 special-bg">
		<h2 class="box-title"><span class="title-bg">Artigos Técnicos</span><span class="link-more"><a href="/artigos">+ artigos</a></span></h2>

		@foreach (AltaMontanha.Models.Dominio.Artigo artigo in listaArtigos)
		{
			<div class="artigo-box">
				<a href="/Artigo/@artigo.Codigo/@artigo.Slug">
					<span class="thumb-border-5">
						<img src="/AppData/Foto/145x95/@artigo.FotoCapa.Caminho" alt="@artigo.FotoCapa.Legenda" width="145px" height="95px" />
					</span>
                    <p title="@artigo.Titulo">
                        @if (artigo.Titulo.Length > 35)
						{
							@string.Concat(artigo.Titulo.Substring(0, 35), "...");
						}
						else
						{
							@artigo.Titulo;
						}
                    </p>
				</a>
			</div>
		}
	</div>
}
@helper VisualizarArtigosHistoria(IList<AltaMontanha.Models.Dominio.Artigo> listaArtigos)
{
	<div id="historia">
		<h2 class="box-white-title"><span class="title-blue-bg">História do montanhismo</span><span class="link-more"><a href="/artigos">+ história</a></span></h2>

		@foreach (AltaMontanha.Models.Dominio.Artigo artigo in listaArtigos)
		{
			<div class="historia-box col-340">
				<a href="/Artigo/@artigo.Codigo/@artigo.Slug">
					@*TODO: Caminho das fotos *@
					<img src="/AppData/Foto/145x105/@artigo.FotoCapa.Caminho" alt="@artigo.Titulo" width="145" height="105" />
					<p>@artigo.Titulo</p>
				</a>
			</div>	
		}
	</div>	
}